{% extends "index.html" %}

{% block content%}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
            <tbody>
                {% for member in crew %}
            
                {% set class = '' %}
                {% if member.status == 'Alive' %}
                    {% set class = 'success' %}
                {% endif %}

                {% if member.status == 'Dead' %}
                    {% set class = 'danger' %}
                {% endif %}

                    <tr class="{{'bg-' ~ class}} {{ cycle(['odd', 'even'], loop.index0)}}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ member.name }} {{attribute(member, 'reg-number')}}</td>
                        <td>{{ member.role }}</td>
                        <td>{{ member.status | upper }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

{% endblock content %}