<!doctype html>
<html lang="en">
  <head>

    {% include "header.html" %}

  </head>
  <body>
      
    {% embed 'crew-embed.html' %} {% endembed %}

    <div class="container">

        <div class="row">
          {% embed 'grid.html' %}
          
            {% block col2 %}
              <div class="row">
                <div class="col-sm-6">
                    <h2>1</h2>
                    <p>Sed quis elementum sem. Morbi volutpat dolor nec lectus aliquet condimentum.</p>
                </div>
                <div class="col-sm-6">
                    <h2>1</h2>
                    <p>Sed quis elementum sem. Morbi volutpat dolor nec lectus aliquet condimentum.</p>
                </div>
              </div>
            {% endblock col2 %}
          
          {% endembed %}
        </div>
    </div>

    {% include "footer.html" %}

  </body>
</html>